.gutters {
  width: 90%;
  margin: 0 auto; }

.hide {
  display: none; }

#actorBtn {
  margin-top: 5px; }

#searchInput {
  vertical-align: middle; }

.jumbotron {
  padding-left: 25px; }

.emphasis {
  color: #D9534F;
  font-size: 22px; }
