<div class="container" ng-controller = "addCtrl">
  <h1>Add to the list!</h1>
  <form  class="form-horizontal" role="form" name = "myform">
  <div class=" form-group">
        <input type="text" ng-model = "movie.title" placeholder = "title" class = "form-control" ng-required="true">
      <input list = "genres" ng-model = "movie.genre" placeholder = "genre" class = "form-control" ng-required="true">
      <datalist id = "genres">
        <option value="Action">
        <option value="Fantasy"></option>
        <option value="Comedy"></option>
        <option value="Suspense"></option>
        <option value="Horror"></option>
        <option value="Sci-Fi"></option>
        <option value="Romance"></option>
        <option value="Family"></option>
      </datalist>

  <input type="text" ng-model = "movie.actors" placeholder = "actors" class = "form-control"> <input type = "button" ng-click = "addActors()" value = "click me to add actor"></input>
  <input type="year" ng-model = "movie.year" placeholder = "year released" max = "2016" class = "form-control" ng-required="true">
  <input list= "ratings" ng-model = "movie.rating" placeholder = "rating" class = "form-control" ng-required="true">
  <datalist id = "ratings">
    <option value="G"></option>
    <option value="PG"></option>
    <option value="PG-13"></option>
    <option value="R"></option>
    <option value="NC-17"></option>
  </datalist>
  <button ng-click = "myform.$valid && submitMovie()" class="btn btn-primary">submit</button>
  </form>
  </div>



</div>
