<div class = "input-group">
  <label for="search"><input type="text" ng-model="searchText" class = "form-control" placeholder = "search for your movie"></label>
</div>


<table class = "table table-striped">
  <tr>
    <td>#</td>
    <td>Title</td>
    <td>Actors</td>
    <td>Genre</td>
    <td>Rating</td>
  </tr>
  <tr ng-repeat = "movie in movies| filter:searchText" >
    <td>{{$index+1}}</td>
    <td>{{movie.title}} ({{movie.year}})</td>
    <td><p ng-repeat = "(key, value) in movie.actors track by $index">{{value}}</p></td>
    <td>{{movie.genre}}</td>
    <td>{{movie.rating}}</td>
  </tr>
</table>
